{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="col-md-8">
	<div class="card">
		<div class="card-header">
			<h5 class="card-title">Customer Details:</h5>
		</div>
		<div class="card-body">
			<h2> NAME: {{c.customername}} </h2>
			<p>
				ADDRESS: {{c.address}}
			</p>
			<p>
				CITY: {{c.city}}
			</p>
          
            <p>
				<a href="{% url 'updatecustomer' pk=c.pk %}"  class="btn btn-success">Update</a>
				<a href="{% url 'deletecustomer' pk=c.pk %}"  class="btn btn-danger">Delete</a>
			</p>
		</div>
	</div>
</div>
{% endblock %}